In [40]:
import numpy as np
import pandas as pd
import pandasql as ps
from scipy import stats

In [2]:
numpy_data = np.array([[1, 2], [3, 4]])
df = pd.DataFrame(data=numpy_data, index=["row1", "row2"])

In [3]:
df

      0  1
row1  1  2
row2  3  4

In [5]:
df[0].values

array([1, 3])

In [6]:
len(df)

2

In [7]:
list(df[0])

[1, 3]

In [8]:
file_path = '/pl/meg/analysis/ica_output/processed_gfp/vis/2/subj/csv/stat/column_group_summary_1.csv'

In [11]:
df  = pd.read_csv(file_path)

In [21]:
df['value'] = df['group']

In [100]:
df['value'] = df['group']
high_group = ps.sqldf("select tc, value from df where value == 'High'")
low_group = ps.sqldf("select tc, value from df where value == 'Low'")
med_group = ps.sqldf("select tc, value from df where value == 'Medium'")

In [101]:
high_group_val = high_group['tc'].values
low_group_val = low_group['tc'].values
med_group_val = med_group['tc'].values

In [41]:
data = [high_group_val, low_group_val]

In [42]:
f_val, p_val = stats.f_oneway(*data)

In [43]:
f_val, p_val

(19.511795824638426, 6.88600954556164e-05)

In [102]:
f_val1, p_val1 = stats.f_oneway(high_group_val, low_group_val)

In [103]:
p_val1

6.88600954556164e-05

In [62]:
data1 = [high_group_val.T, low_group_val.T]

In [71]:
data_df1 = pd.DataFrame(high_group_val)

In [72]:
data_df2 = pd.DataFrame(low_group_val)

In [95]:
result = pd.concat([data_df1, data_df2], axis=1)
result = result.dropna()

In [96]:
values = result.values

In [97]:
values

array([[-1.02586537,  1.96469208],
       [-2.33570775,  0.6237439 ],
       [-1.2417865 ,  0.38318625],
       [-2.51636668,  0.05700937],
       [ 0.94599961,  0.90076354],
       [ 0.72742614,  0.75131889],
       [ 0.47765309,  0.63475716],
       [ 0.08100379,  1.23394927],
       [ 0.69700215,  0.45719405],
       [-1.31381412,  0.34506218],
       [ 0.02080846,  0.4007345 ],
       [-2.18949197,  1.05378969],
       [-1.28332297,  0.85277762],
       [-1.76601401, -0.36094461],
       [ 0.11322326,  0.51442284],
       [-0.27969454,  0.43281709],
       [-2.19361384,  0.84127367]])

In [81]:
values[:,0]

array([-1.02586537, -2.33570775, -1.2417865 , -2.51636668,  0.94599961,
        0.72742614,  0.47765309,  0.08100379,  0.69700215, -1.31381412,
        0.02080846, -2.18949197, -1.28332297, -1.76601401,  0.11322326,
       -0.27969454, -2.19361384, -0.37565655, -0.45459741,  0.67109451,
       -0.31455914,  0.66459817, -0.36976496, -2.9313597 , -2.46789192,
       -0.9786307 ,  0.70375687])

In [98]:
f_val2, p_val2 = stats.f_oneway(values[:,0], values[:,1])

In [99]:
f_val2, p_val2

(20.564391322561413, 7.638438035568943e-05)

In [84]:
result

           0         0
0  -1.025865  1.964692
1  -2.335708  0.623744
2  -1.241786  0.383186
3  -2.516367  0.057009
4   0.946000  0.900764
5   0.727426  0.751319
6   0.477653  0.634757
7   0.081004  1.233949
8   0.697002  0.457194
9  -1.313814  0.345062
10  0.020808  0.400735
11 -2.189492  1.053790
12 -1.283323  0.852778
13 -1.766014 -0.360945
14  0.113223  0.514423
15 -0.279695  0.432817
16 -2.193614  0.841274
17 -0.375657       NaN
18 -0.454597       NaN
19  0.671095       NaN
20 -0.314559       NaN
21  0.664598       NaN
22 -0.369765       NaN
23 -2.931360       NaN
24 -2.467892       NaN
25 -0.978631       NaN
26  0.703757       NaN

In [105]:
stats.ttest_ind(values[:,0], values[:,1])

Ttest_indResult(statistic=-4.534797825985344, pvalue=7.638438035568935e-05)

In [ ]:
stats.ttest_1samp

In [106]:
diff = values[:,0] - values[:,1]

In [110]:
diff1 = np.zeros_like(diff)

In [122]:
t, p = stats.ttest_1samp(diff,0)

In [123]:
p

0.0001957801771965816

In [124]:
print(" pi = {:.5f}".format(p))

 pi = 0.00020

In [115]:
diff

array([-2.99055745, -2.95945165, -1.62497275, -2.57337605,  0.04523607,
       -0.02389275, -0.15710407, -1.15294548,  0.2398081 , -1.6588763 ,
       -0.37992605, -3.24328167, -2.13610058, -1.4050694 , -0.40119957,
       -0.71251163, -3.03488751])

In [121]:
p1

0.0001957801771965816

In [ ]:
data = [high_group_val, med_group_val]